@page
@model realbau_app.Views.Import.IndexModel
@{
}

<h1>Import podataka</h1>

<div class="container">
    <form method="post" asp-action="NewAddresses" asp-controller="Import" enctype="multipart/form-data">
        <input type="file" name="addressFile" />
        <button type="submit">Import excel</button>
    </form>
</div>