@page
@model realbau_app.Views.Import.IndexModel
@{
}

<h4 class="text-center">Import of addresses</h4>
<p>Please, select DG csv file</p>
<div class="container">
    <form method="post" asp-action="NewAddresses" asp-controller="Import" enctype="multipart/form-data">
        <input type="file" name="addressFile" />
        <button type="submit" class="btn btn-primary">Import csv</button>
    </form>
</div>