@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>
    .btnRemove {
        background-color: #e57373;
    }

        .btnRemove:hover {
            background-color: #ef9a9a;
        }
</style>

@{
}
@model IEnumerable<realbau_app.Models.MontazeTerm>
<h4 class="center-align">Montaze terms</h4>
<h6 class="center-align" id="currentFilters">Showing result for: city <span id="citySpan"></span>, pop <span id="popSpan"></span> and date <span id="dateSpan"></span></h6>
@*<div class="container">*@
<form asp-action="SearchTerms" asp-controller="Montaze" method="get">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Filters</span>
            <div class="row">
                <div class="col s2 m2 l2">
                    <input class="materialize-input" type="text" name="city" id="cityFilter" />

                    <label for="cityFilter">Filter by city</label>
                </div>
                <div class="col s2 m2 l2">
                    <input class="materialize-input" type="text" name="pop" id="popFilter" />
                    <label for="popFilter">Filter by pop</label>
                </div>
                @* <div class="col s1 m1 l1">
                <a style="color: #039be5; cursor: pointer;" id="prev">
                Prev
                </a>

                </div>*@
                <div class="col s2 m2 l2">
                    @*<input id="currentdate" type="date" name="dateTime"  />*@
                    <input id="currentdate" type="text" class="datepicker" name="dateTime">
                    <label for="currentdate">Date</label>
                </div>
                @*<div class="col s1 m1 l1">
                <a style="color: #039be5; cursor: pointer;" id="next">
                Next
                </a>

                </div>*@
                <div>
                    <button type="submit" class="btn">Filter</button>
                </div>

            </div>
        </div>
    </div>
</form>
@*</div>*@

<div class="container">
    @if (Model != null)
    {
        <table class="table table-bordered table-responsive table-hover" id="tblMTerms">
            <thead>
                <tr>
                    <th hidden>Id</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Busy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var term in Model)
                {

                    <tr id="tr_@term.id">
                        <td hidden><input type="text" value="@term.id" /></td>
                        <td>@term.mfrom?.ToString("HH:mm")</td>
                        <td>@term.mto?.ToString("HH:mm")</td>
                        <td>
                            @if (term.busy == 1)
                            {
                                <i class="material-icons left">check</i>
                            }
                        </td>
                        <td><a class="btn btn-danger btnRemove" id="btnRemove_@term.id" disabled="@(term.busy == 1)"><i class="material-icons left">close</i>Remove</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td hidden></td>
                    <td><input type="text" class="timepicker" id="newMFrom" placeholder="Term from"></td>
                    <td><input type="text" class="timepicker" id="newMTo" placeholder="Term to"></td>
                    <td><a class="btn btn-primary" id="btnAdd"><i class="material-icons left">add</i>Add</a></td>
                </tr>
            </tfoot>
        </table>
    }
</div>




@section Scripts{
    <script type="text/javascript">
        $(document).ready(
            function() {
                $('.datepicker').datepicker();
                $('.timepicker').timepicker({ twelveHour: false });
                checkParams();

            })

        function checkParams() {
            const params = new Proxy(new URLSearchParams(window.location.search), {
                get: (searchParams, prop) => searchParams.get(prop),
            });
            let city = params.city;
            let pop = params.pop;
            let dateTime = params.dateTime;

            $("#cityFilter").val(city);
            $("#popFilter").val(pop);

            $("#citySpan").text(city);
            $("#popSpan").text(pop);
            $("#dateSpan").text(dateTime);

            if (dateTime != null) {
                var elems = document.querySelector('.datepicker');
                var instance = M.Datepicker.init(elems, {});
                instance.setDate(new Date(dateTime));
                console.log(new Date(dateTime));
            }
        }

        $("body").on("click", "#btnAdd", function() {

            var row = $(this).closest("tr");
            console.log(row);
            var table = $("#tblMTerms")[0];
            console.log($('#tblMTerms tbody'));

            const params = new Proxy(new URLSearchParams(window.location.search), {
                get: (searchParams, prop) => searchParams.get(prop),
            });
            let city = params.city;
            let pop = params.pop;
            let dateTime = params.dateTime;


            let timeFrom = $("#newMFrom")[0].value;
            let timeTo = $("#newMTo")[0].value;

            console.log(timeFrom);
            console.log(timeTo);

            var newRow = {}
            newRow.mfrom = (new Date(dateTime)).getFullYear().toString() + "-" + ((new Date(dateTime)).getMonth() + 1).toString().padStart(2, "0") + "-" + (new Date(dateTime)).getDate().toString() + "T" + timeFrom + ":00Z";
            newRow.mto = (new Date(dateTime)).getFullYear().toString() + "-" + ((new Date(dateTime)).getMonth() + 1).toString().padStart(2, "0") + "-" + (new Date(dateTime)).getDate().toString() + "T" + timeTo + ":00Z";
            newRow.mdate = (new Date(dateTime)).getFullYear().toString() + "-" + ((new Date(dateTime)).getMonth() + 1).toString().padStart(2, "0") + "-" + (new Date(dateTime)).getDate().toString();
            newRow.city = city;
            newRow.pop = pop;

            console.log(newRow);

            $.ajax({
                type: "POST",
                url: "/api/MontazeTerm",
                data: JSON.stringify(newRow),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(r) {
                    var toastHTML = '<span>Successfully added new montaze term!</span>';
                    M.toast({ html: toastHTML });
                    console.log(r);
                    $('#tblMTerms tbody').append("<tr id=\"tr_" + r.id + "\"><td hidden><input type=\"text\" value=\"" + r.id + "\" /></td><td>" + timeFrom + "</td><td>" + timeTo + "</td><td></td><td><a class=\"btn btn-danger btnRemove\" id=\"btnRemove_" + r.id + "\" ><i class=\"material-icons left\">close</i>Remove</a></td></tr>");

                    //$('#tblHbTerms tbody').append("<tr><td hidden></td><td>" + row[0].children[1].children[0].value + "</td><td>" + row[0].children[2].children[0].value + "</td><td><input class=\"btn btn-danger\" type=\"button\" id=\"btnRemove\" value=\"Remove\" /></td></tr>");
                },
                error: function(err) {
                    //alert("Error. Please, try again!");
                    //console.log(JSON.stringify(err))
                    var toastHTML = '<span>Error. Please, try again!</span>';
                    M.toast({ html: toastHTML });
                }
            });
        });


        $("body").on("click", ".btnRemove", function Confirm() {
            var row = $(this).closest("tr");
            console.log(row);
            console.log(row[0].id.split("_")[1]);

            let index = row[0].rowIndex;
            let m_id = row[0].id.split("_")[1];


            let from = row[0].children[1].innerText;
            let to = row[0].children[2].innerText;
            //if (confirm("Are you sure you want to remove the term?")) {

            var toastHTML = '<span>Please, confirm, deleting term from ' + from + '-' + to + '?</span><button class="btn-flat toast-action" id="confirmTermDelete_' + index + '_' + m_id + '">Confirm</button>';
            var m = M.toast({ html: toastHTML, displayLength: 16000, classes: "toast_" + index });
            console.log(m);

            $("body").on("click", "#confirmTermDelete_" + index + '_' + m_id, function Remove() {


                let index = this.id.split('_')[1];
                let m_id = this.id.split('_')[2];
                //console.log(index);
                //console.log(hb_id);

                var toastElement = document.querySelector('.toast_' + index);
                var toastInstance = M.Toast.getInstance(toastElement);
                toastInstance.dismiss();

                var table = $("#tblMTerms")[0];
                table.deleteRow(index);
                //var id = row[0].children[0].children[0].value;
                //console.log(id);


                $.ajax({
                    type: "DELETE",
                    url: "/api/MontazeTerm/" + m_id,
                    success: function(r) {
                        //alert("Successfully removed term!");
                        setTimeout(() => {
                            var toastHTML = '<span>Successfully removed term!</span>';
                            M.toast({ html: toastHTML });
                        }, 2000);

                    },
                    error: function(err) {
                        //alert(JSON.stringify(err));
                        //alert("Error! Please, try again.");
                        var toastHTML = '<span>Error! Please, try again.</span>';
                        M.toast({ html: toastHTML });
                    }
                });
            });
           
        });

                                                                                                                                                                                                                                                 
    </script>
}          