html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table{
    position: relative;
    width: 300px;
    overflow: scroll;
}

.backgroundRed {
    background-color: #e57373 !important;
}

.backgroundGrey {
    background-color: #fafafa !important;
}

.backgroundBrown {
    background-color: #a1887f !important;
}

.backgroundOrange {
    background-color: #ff8a65 !important;
}